In [20]:
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import pycountry

In [21]:
df = pd.read_csv("/Users/fersaol/Library/CloudStorage/OneDrive-Personal/Documentos/MIS_COSAS_DE_THE_BRIDGE/EDA/proyecto_co2/src/data/copia_seguridad_1.csv")
df.head()

,Unnamed: 0,index,Year,Country,GDP,Population,Energy_production,Energy_consumption,Energy_type,CO2_emission,...,balance,eficiency,energy_dependecy,use_intensity_pc,co2_pc,CODE,continent,geometry,latitude,longitude
0,0,0,1980-01-01,World,27770.910281,4.298127e+06,296.337228,292.899790,all_energy_types,4946.627130,...,3.437438,16.692561,0.010547,0.000068,0.001151,None,NaN,NaN,NaN,NaN
1,1,1,1980-01-01,World,27770.910281,4.298127e+06,20.775178,20.702344,renewables_n_other,0.000000,...,0.072834,0.000000,0.000745,0.000005,0.000000,None,NaN,NaN,NaN,NaN
2,2,2,1980-01-01,World,27770.910281,4.298127e+06,7.575700,7.575700,nuclear,0.000000,...,0.000000,0.000000,0.000273,0.000002,0.000000,None,NaN,NaN,NaN,NaN
3,3,3,1980-01-01,World,27770.910281,4.298127e+06,133.111109,132.064019,petroleum_n_other_liquids,2455.243565,...,1.047089,18.445069,0.004755,0.000031,0.000571,None,NaN,NaN,NaN,NaN
4,4,4,1980-01-01,World,27770.910281,4.298127e+06,54.761046,53.865223,natural_gas,1081.593377,...,0.895822,19.751145,0.001940,0.000013,0.000252,None,NaN,NaN,NaN,NaN

Eliminamos las columnas no necesarias que se han creado con los reset_index:

In [22]:
columnas = df.columns
columnas

Index(['Unnamed: 0', 'index', 'Year', 'Country', 'GDP', 'Population',
       'Energy_production', 'Energy_consumption', 'Energy_type',
       'CO2_emission', 'per_capita_production', 'Energy_intensity_by_GDP',
       'balance', 'eficiency', 'energy_dependecy', 'use_intensity_pc',
       'co2_pc', 'CODE', 'continent', 'geometry', 'latitude', 'longitude'],
      dtype='object')

In [23]:
df = df.drop(columns=columnas[:2])
df.head()

,Year,Country,GDP,Population,Energy_production,Energy_consumption,Energy_type,CO2_emission,per_capita_production,Energy_intensity_by_GDP,balance,eficiency,energy_dependecy,use_intensity_pc,co2_pc,CODE,continent,geometry,latitude,longitude
0,1980-01-01,World,27770.910281,4.298127e+06,296.337228,292.899790,all_energy_types,4946.627130,68.145921,10.547,3.437438,16.692561,0.010547,0.000068,0.001151,None,NaN,NaN,NaN,NaN
1,1980-01-01,World,27770.910281,4.298127e+06,20.775178,20.702344,renewables_n_other,0.000000,68.145921,10.547,0.072834,0.000000,0.000745,0.000005,0.000000,None,NaN,NaN,NaN,NaN
2,1980-01-01,World,27770.910281,4.298127e+06,7.575700,7.575700,nuclear,0.000000,68.145921,10.547,0.000000,0.000000,0.000273,0.000002,0.000000,None,NaN,NaN,NaN,NaN
3,1980-01-01,World,27770.910281,4.298127e+06,133.111109,132.064019,petroleum_n_other_liquids,2455.243565,68.145921,10.547,1.047089,18.445069,0.004755,0.000031,0.000571,None,NaN,NaN,NaN,NaN
4,1980-01-01,World,27770.910281,4.298127e+06,54.761046,53.865223,natural_gas,1081.593377,68.145921,10.547,0.895822,19.751145,0.001940,0.000013,0.000252,None,NaN,NaN,NaN,NaN

In [24]:
df.index

RangeIndex(start=0, stop=44320, step=1)

Vemos que del dataframe original que tenÃ­a 44278 ahora tenemos 44320 y es porque se nos han creado filas llenas de nan al final las cuales pasamos a eliminar

In [25]:
df.tail(50)

,Year,Country,GDP,Population,Energy_production,Energy_consumption,Energy_type,CO2_emission,per_capita_production,Energy_intensity_by_GDP,balance,eficiency,energy_dependecy,use_intensity_pc,co2_pc,CODE,continent,geometry,latitude,longitude
44270,2018-01-01,South Sudan,17.1853,10975.9,0.000000,0.000000,natural_gas,0.000000,2.165913,1.383325,0.000000,0.000000,0.000000,0.000000e+00,0.000000,SSD,Africa,POLYGON ((30.833852421715427 3.509171604222462...,NaN,NaN
44271,2018-01-01,South Sudan,17.1853,10975.9,0.289098,0.023736,petroleum_n_other_liquids,1.623722,2.165913,1.383325,0.265362,5.616511,0.001381,2.162595e-06,0.000148,SSD,Africa,POLYGON ((30.833852421715427 3.509171604222462...,NaN,NaN
44272,2018-01-01,South Sudan,17.1853,10975.9,0.000036,0.000036,renewables_n_other,0.000000,2.165913,1.383325,0.000000,0.000000,0.000002,3.317814e-09,0.000000,SSD,Africa,POLYGON ((30.833852421715427 3.509171604222462...,NaN,NaN
44273,2019-01-01,South Sudan,17.3349,11062.1,0.291579,0.026594,all_energy_types,1.675889,2.404033,1.534111,0.264985,5.747634,0.001534,2.404033e-06,0.000151,SSD,Africa,POLYGON ((30.833852421715427 3.509171604222462...,NaN,NaN
44274,2019-01-01,South Sudan,17.3349,11062.1,0.000000,0.000000,natural_gas,0.000000,2.404033,1.534111,0.000000,0.000000,0.000000,0.000000e+00,0.000000,SSD,Africa,POLYGON ((30.833852421715427 3.509171604222462...,NaN,NaN
44275,2019-01-01,South Sudan,17.3349,11062.1,0.000000,0.000000,coal,0.000000,2.404033,1.534111,0.000000,0.000000,0.000000,0.000000e+00,0.000000,SSD,Africa,POLYGON ((30.833852421715427 3.509171604222462...,NaN,NaN
44276,2019-01-01,South Sudan,17.3349,11062.1,0.000036,0.000036,renewables_n_other,0.000000,2.404033,1.534111,0.000000,0.000000,0.000002,3.219642e-09,0.000000,SSD,Africa,POLYGON ((30.833852421715427 3.509171604222462...,NaN,NaN
44277,2019-01-01,South Sudan,17.3349,11062.1,0.291543,0.026558,petroleum_n_other_liquids,1.675889,2.404033,1.534111,0.264985,5.748336,0.001532,2.400814e-06,0.000151,SSD,Africa,POLYGON ((30.833852421715427 3.509171604222462...,NaN,NaN
44278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TZA,Africa,POLYGON ((33.90371119710453 -0.950000000000000...,NaN,NaN
44279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COD,Africa,POLYGON ((29.339997592900346 -4.49998341229409...,NaN,NaN
44280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUS,Europe,"MULTIPOLYGON (((178.7253 71.0988, 180.00000000...",NaN,NaN
44281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BHS,North America,"MULTIPOLYGON (((-78.98 26.790000000000003, -78...",NaN,NaN
44282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FLK,South America,"POLYGON ((-61.2 -51.85, -60 -51.25, -59.15 -51...",NaN,NaN
44283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-99,Europe,"MULTIPOLYGON (((15.142820000000002 79.67431, 1...",NaN,NaN
44284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-99,Europe,MULTIPOLYGON (((-51.65779741067889 4.156232408...,NaN,NaN
44285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-99,Asia,"POLYGON ((32.73178022637745 35.14002594658844,...",NaN,NaN
44286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-99,Africa,"POLYGON ((48.94820475850985 11.41061728169797,...",NaN,NaN
44287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-99,Europe,POLYGON ((20.590246546680227 41.85540891928362...,NaN,NaN
44288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ATF,Seven seas (open ocean),"POLYGON ((68.935 -48.62500000000001, 69.58 -48...",NaN,NaN
44289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOL,South America,POLYGON ((-69.52967810736496 -10.9517343075021...,NaN,NaN
44290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VEN,South America,POLYGON ((-60.73357418480372 5.200277207861901...,NaN,NaN
44291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CIV,Africa,POLYGON ((-8.029943610048619 10.20653493900171...,NaN,NaN
44292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COG,Africa,POLYGON ((18.45306521980993 3.5043858911233485...,NaN,NaN
44293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PSE,Asia,POLYGON ((35.397560662586045 31.48908600516758...,NaN,NaN
44294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GMB,Africa,POLYGON ((-16.71372880702347 13.59495860437985...,NaN,NaN
44295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LAO,Asia,POLYGON ((107.38272749230109 14.20244090418697...,NaN,NaN
44296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MMR,Asia,POLYGON ((100.11598758341785 20.41784963630818...,NaN,NaN
44297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VNM,Asia,POLYGON ((104.33433475140347 10.48654368737523...,NaN,NaN
44298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRK,Asia,MULTIPOLYGON (((130.78000366004676 42.22000781...,NaN,NaN
44299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KOR,Asia,POLYGON ((126.17475874237624 37.74968577732804...,NaN,NaN
44300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IRN,Asia,POLYGON ((48.567971225789755 29.92677826590352...,NaN,NaN
44301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SYR,Asia,POLYGON ((35.71991824722275 32.709192409794866...,NaN,NaN
44302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MDA,Europe,POLYGON ((26.619336785597795 48.22072622333347...,NaN,NaN
44303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TWN,Asia,"POLYGON ((121.77781782438993 24.3942735865194,...",NaN,NaN
44304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRN,Asia,POLYGON ((115.45071048386981 5.447729803891534...,NaN,NaN
44305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CZE,Europe,"POLYGON ((15.01699588385867 51.10667409932158,...",NaN,NaN
44306,NaN,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.034280,-77.396280
44307,NaN,Bosnia and Herz.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.915886,17.679076
44308,NaN,Central African Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.611111,20.939444
44309,NaN,Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.038333,21.758664
44310,NaN,Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.817492,15.472962
44311,NaN,CÃ´te d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.539989,-5.547080
44312,NaN,Dem. Rep. Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.228021,15.827659
44313,NaN,Dominican Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.735693,-70.162651
44314,NaN,Eq. Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.650801,10.267895
44315,NaN,Gambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.443182,-15.310139
44316,NaN,Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.608635,21.745275
44317,NaN,S. Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.862807,30.217636
44318,NaN,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.090240,-95.712891
44319,NaN,W. Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.215527,-12.885834

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44320 entries, 0 to 44319
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     44278 non-null  object
 1   Country                  44292 non-null  object
 2   GDP                      44278 non-null  float64
 3   Population               44278 non-null  float64
 4   Energy_production        44278 non-null  float64
 5   Energy_consumption       44278 non-null  float64
 6   Energy_type              44278 non-null  object
 7   CO2_emission             44278 non-null  float64
 8   per_capita_production    44278 non-null  float64
 9   Energy_intensity_by_GDP  44278 non-null  float64
 10  balance                  44278 non-null  float64
 11  eficiency                44278 non-null  float64
 12  energy_dependecy         44278 non-null  float64
 13  use_intensity_pc         44278 non-null  float64
 14  co2_pc                   44278 non-null  float64
 15  CODE                     44306 non-null  object
 16  continent                29085 non-null  object
 17  geometry                 29085 non-null  object
 18  latitude                 28440 non-null  float64
 19  longitude                28440 non-null  float64
dtypes: float64(14), object(6)
memory usage: 6.8+ MB

In [27]:
df = df.iloc[:44278,:]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44278 entries, 0 to 44277
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     44278 non-null  object
 1   Country                  44278 non-null  object
 2   GDP                      44278 non-null  float64
 3   Population               44278 non-null  float64
 4   Energy_production        44278 non-null  float64
 5   Energy_consumption       44278 non-null  float64
 6   Energy_type              44278 non-null  object
 7   CO2_emission             44278 non-null  float64
 8   per_capita_production    44278 non-null  float64
 9   Energy_intensity_by_GDP  44278 non-null  float64
 10  balance                  44278 non-null  float64
 11  eficiency                44278 non-null  float64
 12  energy_dependecy         44278 non-null  float64
 13  use_intensity_pc         44278 non-null  float64
 14  co2_pc                   44278 non-null  float64
 15  CODE                     44278 non-null  object
 16  continent                29057 non-null  object
 17  geometry                 29057 non-null  object
 18  latitude                 28426 non-null  float64
 19  longitude                28426 non-null  float64
dtypes: float64(14), object(6)
memory usage: 6.8+ MB

In [28]:
df.tail(2)

,Year,Country,GDP,Population,Energy_production,Energy_consumption,Energy_type,CO2_emission,per_capita_production,Energy_intensity_by_GDP,balance,eficiency,energy_dependecy,use_intensity_pc,co2_pc,CODE,continent,geometry,latitude,longitude
44276,2019-01-01,South Sudan,17.3349,11062.1,0.000036,0.000036,renewables_n_other,0.000000,2.404033,1.534111,0.000000,0.000000,0.000002,3.219642e-09,0.000000,SSD,Africa,POLYGON ((30.833852421715427 3.509171604222462...,NaN,NaN
44277,2019-01-01,South Sudan,17.3349,11062.1,0.291543,0.026558,petroleum_n_other_liquids,1.675889,2.404033,1.534111,0.264985,5.748336,0.001532,2.400814e-06,0.000151,SSD,Africa,POLYGON ((30.833852421715427 3.509171604222462...,NaN,NaN

Sustituimos los datos con infinito en la columna de eficiency por 0:

In [29]:
len(df[df.eficiency == np.inf])

8561

In [30]:
df["eficiency"] = df["eficiency"].replace(np.inf,0)
df[df.eficiency == np.inf]

Empty DataFrame
Columns: [Year, Country, GDP, Population, Energy_production, Energy_consumption, Energy_type, CO2_emission, per_capita_production, Energy_intensity_by_GDP, balance, eficiency, energy_dependecy, use_intensity_pc, co2_pc, CODE, continent, geometry, latitude, longitude]
Index: []

### QuÃ© paÃ­ses son los que no tienen datos de localizaciÃ³n?

In [31]:
df.Country[(df.latitude.isnull()) | (df.longitude.isnull())].unique()

array(['World', 'North Korea', 'Netherlands Antilles', 'Reunion',
       'Saint Helena', 'Macau', 'Micronesia', 'U.S. Pacific Islands',
       'U.S. Virgin Islands', 'U.S. Territories', 'The Bahamas',
       'Wake Island', 'Saint Vincent/Grenadines', 'Burma',
       'CÃ´te dâ€™Ivoire', 'Congo-Kinshasa', 'Congo-Brazzaville',
       'British Virgin Islands', 'Hawaiian Trade Zone',
       'Falkland Islands', 'Former Czechoslovakia', 'Former Yugoslavia',
       'Gambia, The', 'Former Serbia and Montenegro', 'Czech Republic',
       'Palestinian Territories', 'Kosovo', 'Northern Mariana Islands',
       'Norway', 'Niue', 'New Caledonia', 'Puerto Rico', 'Malta',
       'Maldives', 'Lesotho', 'Saint Kitts and Nevis', 'Martinique',
       'Montserrat', 'Nauru', 'Mauritius', 'Tuvalu',
       'Turks and Caicos Islands', 'Tonga', 'Western Sahara', 'Vanuatu',
       'United States', 'Seychelles', 'Singapore', 'Solomon Islands',
       'Saint Pierre and Miquelon', 'Saint Lucia', 'Samoa',
       'Sao Tome and Principe', 'Central African Republic',
       'Cayman Islands', 'Cabo Verde', 'Comoros', 'Dominican Republic',
       'Dominica', 'Cook Islands', 'Antigua and Barbuda', 'Antarctica',
       'American Samoa', 'Bahrain', 'Bermuda', 'Barbados', 'Hong Kong',
       'Guam', 'Guadeloupe', 'Grenada', 'Kiribati', 'Faroe Islands',
       'Equatorial Guinea', 'Eswatini', 'Gibraltar', 'Greenland',
       'French Polynesia', 'French Guiana', 'France', 'Aruba',
       'North Macedonia', 'Turkmenistan', 'Bosnia and Herzegovina',
       'South Sudan'], dtype=object)

In [32]:
df[df.Country == "United States"]

,Year,Country,GDP,Population,Energy_production,Energy_consumption,Energy_type,CO2_emission,per_capita_production,Energy_intensity_by_GDP,balance,eficiency,energy_dependecy,use_intensity_pc,co2_pc,CODE,continent,geometry,latitude,longitude
18942,1980-01-01,United States,7080.75,227119.0,67.146595,78.021113,all_energy_types,4946.627130,343.525258,11.018764,-10.874518,73.669069,0.011019,0.000344,0.021780,USA,North America,MULTIPOLYGON (((-122.84000000000003 49.0000000...,NaN,NaN
18943,1980-01-01,United States,7080.75,227119.0,18.597725,15.422809,coal,1409.790188,343.525258,11.018764,3.174916,75.804441,0.002178,0.000068,0.006207,USA,North America,MULTIPOLYGON (((-122.84000000000003 49.0000000...,NaN,NaN
18944,1980-01-01,United States,7080.75,227119.0,19.907600,20.235459,natural_gas,1081.593377,343.525258,11.018764,-0.327859,54.330676,0.002858,0.000089,0.004762,USA,North America,MULTIPOLYGON (((-122.84000000000003 49.0000000...,NaN,NaN
18945,1980-01-01,United States,7080.75,227119.0,2.739169,2.739169,nuclear,0.000000,343.525258,11.018764,0.000000,0.000000,0.000387,0.000012,0.000000,USA,North America,MULTIPOLYGON (((-122.84000000000003 49.0000000...,NaN,NaN
18946,1980-01-01,United States,7080.75,227119.0,20.473758,34.158965,petroleum_n_other_liquids,2455.243565,343.525258,11.018764,-13.685207,119.921490,0.004824,0.000150,0.010810,USA,North America,MULTIPOLYGON (((-122.84000000000003 49.0000000...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19177,2019-01-01,United States,19925.43,330043.8,35.187183,32.252007,natural_gas,1626.410978,304.305271,5.040497,2.935176,46.221687,0.001619,0.000098,0.004928,USA,North America,MULTIPOLYGON (((-122.84000000000003 49.0000000...,NaN,NaN
19178,2019-01-01,United States,19925.43,330043.8,14.255763,11.315595,coal,1262.555409,304.305271,5.040497,2.940168,88.564562,0.000568,0.000034,0.003825,USA,North America,MULTIPOLYGON (((-122.84000000000003 49.0000000...,NaN,NaN
19179,2019-01-01,United States,19925.43,330043.8,11.595138,11.436136,renewables_n_other,0.000000,304.305271,5.040497,0.159002,0.000000,0.000574,0.000035,0.000000,USA,North America,MULTIPOLYGON (((-122.84000000000003 49.0000000...,NaN,NaN
19180,2019-01-01,United States,19925.43,330043.8,8.451852,8.451852,nuclear,0.000000,304.305271,5.040497,0.000000,0.000000,0.000424,0.000026,0.000000,USA,North America,MULTIPOLYGON (((-122.84000000000003 49.0000000...,NaN,NaN
19181,2019-01-01,United States,19925.43,330043.8,31.910982,38.329386,petroleum_n_other_liquids,2388.226367,304.305271,5.040497,-6.418404,74.840266,0.001924,0.000116,0.007236,USA,North America,MULTIPOLYGON (((-122.84000000000003 49.0000000...,NaN,NaN

El caso es que en el dataframe con el que hicimos el merge si que tenÃ­amos los datos de localizaciÃ³n de Estados Unidos, pero por alguna razÃ³n se han destruido

In [33]:
git_locations = pd.read_csv("/Users/fersaol/Library/CloudStorage/OneDrive-Personal/Documentos/MIS_COSAS_DE_THE_BRIDGE/EDA/proyecto_co2/src/data/location_countries.csv")
git_locations.head(10)

  ISO 3166 Country Code               Country  Latitude  Longitude
0                    AD               Andorra     42.50       1.50
1                    AE  United Arab Emirates     24.00      54.00
2                    AF           Afghanistan     33.00      65.00
3                    AG   Antigua and Barbuda     17.05     -61.80
4                    AI              Anguilla     18.25     -63.17
5                    AL               Albania     41.00      20.00
6                    AM               Armenia     40.00      45.00
7                    AN  Netherlands Antilles     12.25     -68.75
8                    AO                Angola    -12.50      18.50
9                    AP   Asia/Pacific Region     35.00     105.00

Vemos que el dataframe anterior tiene los datos de longitud y latitud promediados y por eso buscamos uno alternativo encontrandolo en una url de google:

In [34]:
location = pd.read_html("https://developers.google.com/public-data/docs/canonical/countries_csv")
type(location)

list

Vemos que es de tipo lista porque al intentar abrirlo como dataframe nos decÃ­a que no era de dos dimensiones, por lo que lo pasamos a un array de numpy

In [35]:
location = np.array(location)

vemos que no es de dos dimensiones sino que tiene cuatro, por lo que le hacemos un reshape

In [36]:
location.shape

(1, 245, 4)

In [37]:
location = location.reshape(245,4)

Convertimos el array de numpy en dataframe y renombramos las columnas:

In [38]:
df_locations = pd.DataFrame(location)
df_locations = df_locations.rename(columns={0:"CODE",1:"latitude",2:"longitude",3:"Country"})
df_locations.head()

  CODE   latitude  longitude               Country
0   AD  42.546245   1.601554               Andorra
1   AE  23.424076  53.847818  United Arab Emirates
2   AF   33.93911  67.709953           Afghanistan
3   AG  17.060816 -61.796428   Antigua and Barbuda
4   AI  18.220554 -63.068615              Anguilla

Eliminamos las columnas antiguas:

In [40]:
df = df.drop(columns=["longitude","latitude"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44278 entries, 0 to 44277
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     44278 non-null  object
 1   Country                  44278 non-null  object
 2   GDP                      44278 non-null  float64
 3   Population               44278 non-null  float64
 4   Energy_production        44278 non-null  float64
 5   Energy_consumption       44278 non-null  float64
 6   Energy_type              44278 non-null  object
 7   CO2_emission             44278 non-null  float64
 8   per_capita_production    44278 non-null  float64
 9   Energy_intensity_by_GDP  44278 non-null  float64
 10  balance                  44278 non-null  float64
 11  eficiency                44278 non-null  float64
 12  energy_dependecy         44278 non-null  float64
 13  use_intensity_pc         44278 non-null  float64
 14  co2_pc                   44278 non-null  float64
 15  CODE                     44278 non-null  object
 16  continent                29057 non-null  object
 17  geometry                 29057 non-null  object
dtypes: float64(12), object(6)
memory usage: 6.1+ MB

juntamos ambos dataframes

In [41]:
df = pd.merge(df,df_locations,on="Country",how="outer")
df.head()

,Year,Country,GDP,Population,Energy_production,Energy_consumption,Energy_type,CO2_emission,per_capita_production,Energy_intensity_by_GDP,...,eficiency,energy_dependecy,use_intensity_pc,co2_pc,CODE_x,continent,geometry,CODE_y,latitude,longitude
0,1980-01-01,World,27770.910281,4.298127e+06,296.337228,292.899790,all_energy_types,4946.627130,68.145921,10.547,...,16.692561,0.010547,0.000068,0.001151,None,NaN,NaN,NaN,NaN,NaN
1,1980-01-01,World,27770.910281,4.298127e+06,20.775178,20.702344,renewables_n_other,0.000000,68.145921,10.547,...,0.000000,0.000745,0.000005,0.000000,None,NaN,NaN,NaN,NaN,NaN
2,1980-01-01,World,27770.910281,4.298127e+06,7.575700,7.575700,nuclear,0.000000,68.145921,10.547,...,0.000000,0.000273,0.000002,0.000000,None,NaN,NaN,NaN,NaN,NaN
3,1980-01-01,World,27770.910281,4.298127e+06,133.111109,132.064019,petroleum_n_other_liquids,2455.243565,68.145921,10.547,...,18.445069,0.004755,0.000031,0.000571,None,NaN,NaN,NaN,NaN,NaN
4,1980-01-01,World,27770.910281,4.298127e+06,54.761046,53.865223,natural_gas,1081.593377,68.145921,10.547,...,19.751145,0.001940,0.000013,0.000252,None,NaN,NaN,NaN,NaN,NaN

Comprobamos como ha quedado nuestro dataframe

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44317 entries, 0 to 44316
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     44278 non-null  object
 1   Country                  44317 non-null  object
 2   GDP                      44278 non-null  float64
 3   Population               44278 non-null  float64
 4   Energy_production        44278 non-null  float64
 5   Energy_consumption       44278 non-null  float64
 6   Energy_type              44278 non-null  object
 7   CO2_emission             44278 non-null  float64
 8   per_capita_production    44278 non-null  float64
 9   Energy_intensity_by_GDP  44278 non-null  float64
 10  balance                  44278 non-null  float64
 11  eficiency                44278 non-null  float64
 12  energy_dependecy         44278 non-null  float64
 13  use_intensity_pc         44278 non-null  float64
 14  co2_pc                   44278 non-null  float64
 15  CODE_x                   44278 non-null  object
 16  continent                29057 non-null  object
 17  geometry                 29057 non-null  object
 18  CODE_y                   40453 non-null  object
 19  latitude                 40602 non-null  object
 20  longitude                40602 non-null  object
dtypes: float64(12), object(9)
memory usage: 7.4+ MB

Vemos que los cÃ³digos de paÃ­ses nuevos tienen menos datos por lo que lo eliminamos y nos quedamos con el antiguo:

In [43]:
df = df.drop(columns="CODE_y")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44317 entries, 0 to 44316
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     44278 non-null  object
 1   Country                  44317 non-null  object
 2   GDP                      44278 non-null  float64
 3   Population               44278 non-null  float64
 4   Energy_production        44278 non-null  float64
 5   Energy_consumption       44278 non-null  float64
 6   Energy_type              44278 non-null  object
 7   CO2_emission             44278 non-null  float64
 8   per_capita_production    44278 non-null  float64
 9   Energy_intensity_by_GDP  44278 non-null  float64
 10  balance                  44278 non-null  float64
 11  eficiency                44278 non-null  float64
 12  energy_dependecy         44278 non-null  float64
 13  use_intensity_pc         44278 non-null  float64
 14  co2_pc                   44278 non-null  float64
 15  CODE_x                   44278 non-null  object
 16  continent                29057 non-null  object
 17  geometry                 29057 non-null  object
 18  latitude                 40602 non-null  object
 19  longitude                40602 non-null  object
dtypes: float64(12), object(8)
memory usage: 7.1+ MB

### Los nuevos paÃ­ses sin datos de localizaciÃ³n son

In [44]:
df.Country[(df.latitude.isnull()) | (df.longitude.isnull())].unique()

array(['World', 'Reunion', 'U.S. Pacific Islands', 'U.S. Territories',
       'The Bahamas', 'Wake Island', 'Saint Vincent/Grenadines', 'Burma',
       'CÃ´te dâ€™Ivoire', 'Congo-Kinshasa', 'Congo-Brazzaville',
       'Hawaiian Trade Zone', 'Falkland Islands', 'Former Czechoslovakia',
       'Former Yugoslavia', 'Gambia, The', 'Former Serbia and Montenegro',
       'Sao Tome and Principe', 'Cabo Verde', 'Eswatini',
       'North Macedonia', 'South Sudan', 'U.S. Minor Outlying Islands'],
      dtype=object)

In [46]:
len(df.Country.unique())

267

### Realizamos una copia de seguridad de los datos

In [48]:
df.to_csv("copia_de_seguridad_2.csv")